@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font class for Montserrat */
@layer base {
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
}

main#info::before {
  content: ''; /* Necessary to display the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(3, 7, 18, 0.5) 80%,
    rgba(3, 7, 18, 1) 95%
  );
  z-index: 1; /* Places the overlay above the content */
}
